@import '@material/react-button/index.scss';
@import '@material/react-card/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-fab/index.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-linear-progress/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-typography/index.scss';
@import '@material/react-chips/index.scss';
@import '@material/react-dialog/index.scss';
@import '@material/react-text-field/index.scss';

.top-app-bar-fix-adjust {
  display: flex;
  width: 100%;
}

.addNewBookmark {
  position: fixed !important;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .addNewBookmark {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
